<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
<title ng-bind="pageTitle"></title>

<!-- social media tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@joshdmiller">
<meta name="twitter:title" content="ngBoilerplate">
<meta name="twitter:description"
	content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
<meta name="twitter:creator" content="@joshdmiller">
<meta name="twitter:image:src"
	content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
<meta property="og:title" content="ngBoilerplate" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://bit.ly/ngBoilerplate" />
<meta property="og:image"
	content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
<meta property="og:description"
	content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

<meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom CSS -->
    <link href="assets/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="assets/css/angular-datatables.css">
    

<style type="text/css">
   
   #menu{list-style: none;}
   
</style>

<!-- compiled JavaScript -->




<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-datatables.min.js"></script>

<script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>

<script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>

<script type="text/javascript" src="vendor/angular-resource/angular-resource.min.js"></script>

<script type="text/javascript" src="vendor/angular-base64/angular-base64.min.js"></script>

<script type="text/javascript" src="vendor/angular-hateoas/src/angular-hateoas.js"></script>

<script type="text/javascript" src="vendor/angular-cookies/angular-cookies.min.js"></script>

<script type="text/javascript" src="vendor/angular-cookies/angular-cookies.js"></script>

<script type="text/javascript" src="vendor/angular-route/angular-route.min.js"></script>

<script type="text/javascript" src="vendor/angular-route/angular-route.min.js"></script>

<script type="text/javascript" src="src/app/account/account.js"></script>

<script type="text/javascript" src="src/app/app.js"></script>

<script type="text/javascript" src="src/app/cms/cms.js"></script>

<script type="text/javascript" src="src/app/home/home.js"></script>

<script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>

<script type="text/javascript" src="templates-common.js"></script>

<script type="text/javascript" src="templates-app.js"></script>



</head>
<body>

       <div id="wrapper" ng-hide="nav">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboard">TuDate CMS</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{name}} {{surname}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-controller="LoginCtrl">
                            <a href ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href ui-sref="dashboard"><i class="fa fa-fw fa-dashboard"></i>{{translations.dashboard}}</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

                
               <div id="page-wrapper">          
                   <div class="container" ui-view="main"></div>
                   <br><br><br><br><br><br><br><br><br><br><br><br>
                   <br><br>
               <div></div>
               </div>
               

    </div>
    
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="assets/js/plugins/morris/raphael.min.js"></script>
    <script src="assets/js/plugins/morris/morris.min.js"></script>
    <script src="assets/js/plugins/morris/morris-data.js"></script>

</body>
</html>
