.col-lg-7.col-lg-offset-5.hidden-xs {
    text-align: center;
}
.flags-reposnive-menu > a:first-child {
    padding-left: 20px;
}

@media (min-width: 800px) and (max-width: 1058px) {
.row.logo-section .heading {
	font-size: 35px;
}
}
@media (max-width: 800px) {
.row.logo-section .heading {
	font-size: 20px;
}
}
/* buttont home page responsive */
@media (max-width: 640px) {
	.container-fluid.index .buttons button {
	width: 100%;
	}
	.container-fluid.index .buttons button:first-child {
	margin-bottom: 20px;
	}
	.container-fluid.register-page .register-forma {
    width: 314px;
    }
}

@media (min-width: 435px) and (max-width: 649px) {
	.container-fluid.index .buttons button {
		width: 60%;
	}
	.row.logo-section .buttons button:first-child {
		margin-right: 0;
	}
	.row.logo-section .buttons button:first-child {
	padding: 10px 20px;
	margin-bottom : 20px;
	}
	.row.logo-section .buttons button:nth-child(2) {
		padding: 10px 110px 10px 10px;
	}
	.row.logo-section .buttons button:nth-child(2) span {
	    padding-right: 60px;
	}
}

@media (max-width: 435px) {
	.row.logo-section .heading {
		margin-bottom: 40px;
	}
	.row.logo-section .buttons button:first-child {
		padding: 10px 20px;
	}
	.row.logo-section .buttons button:nth-child(2) {
		padding: 10px 120px 10px 20px;
	}
	.copyrights a{
		display: block;
		padding-bottom: 10px;
	}


	.container-fluid.login-page .buttons button:first-child {
		margin-bottom: 20px;
		width: 100%;
	}
	.container-fluid.login-page .buttons button:first-child span {
    	padding-right: 20px;
	}

	.container-fluid.login-page .buttons button:nth-child(2) span {
		padding-right: 0;
	}
	
	.container-fluid.login-page .buttons button:nth-child(2) {
		width: 100%;
		padding: 10px 0;
	}
	.container-fluid.login-page .inputs .input-username {
		margin-bottom: 20px;
		width: 100%;
	}
	.container-fluid.login-page .inputs .input-password {
		width: 100%;
	}
	.container-fluid.login-page .headerSection {
		width: 100% !important;
	}
	.container-fluid.register-page .headerSection {
		width: 100% !important;
	}
	.container-fluid.register-page .register-forma {
		width: 100% !important;
	}
	.container-fluid.register-page .register-forma .input-emrillogaris {
		margin-right: 0;
	}
	.container-fluid.register-page .register-forma .input-email {
		margin-right: 0;
	}
	.container-fluid.register-page .buttons button:first-child {
		margin-right: 0;
	}
	.register-forma .section3, .register-forma .section4, .register-forma .section2 {
		margin-top: 30px;
	}
	.container-fluid.register-page .buttons button:first-child {
		margin-bottom: 20px;
	}
	.container-fluid.register-page .register-section {
		width: 100%;
	}
}
@media (min-width: 881px) and (max-width: 1200px) {
	.four-image-section {
		width: 70%;
	}
}
@media (min-width: 435px) and (max-width: 790px) {
	.container-fluid.login-page .buttons button:first-child {
		margin-right: 0;
		margin-bottom: 20px;
		padding: 10px 130px 10px 35px;
	}

	.container-fluid.login-page .inputs .input-username {
		margin-right: 0;
		margin-bottom: 20px;
	}	
	.container-fluid.register-page .buttons button:first-child {
		margin-bottom: 20px;
	}

}
@media (min-width: 435px) and (max-width: 1130px) {
	.container-fluid.register-page .register-forma .input-emrillogaris {
		margin-right: 0;
	}
	.container-fluid.register-page .register-forma .input-email {
		margin-right: 0;
	}
	.container-fluid.register-page .buttons button:first-child {
		margin-right: 0;
	}
	.register-forma .section3, .register-forma .section4, .register-forma .section2 {
		margin-top: 30px;
	}

}

@media (max-width: 990px) {
	.container-fluid.quiz-page .inputs > div > div {
		margin-top: 50px;
	}
	.container-fluid.quiz-page .inputs > div.row:last-child {
		margin-top: 0;
	}
}

@media (min-width: 980px) and (max-width: 1065px) {
 .container-fluid.quiz-page .inputs input {
  width: 420px;
 }
}

@media (max-width: 740px) {
	.container-fluid.quiz-page .buttons button:first-child {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.container-fluid.personal-page .buttons button:first-child {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 297px) {
 .row.logo-section .buttons button:nth-child(2) span {
  padding-right: 50px;
 }
}